{% extends "layout.html" %}
{% set title = "Categories" %}
{% set meta_title = title ~ " | " ~ site_name %}
{% set meta_desc = "Browse prompt categories on " ~ site_name ~ "." %}
{% set meta_robots = "index, follow" %}
{% set meta_canonical_url = url("categories", absolute=True) %}

{% block meta_schema %}
    {% set items = namespace(values=[]) %}
    {% for category in categories %}
        {% set items.values = items.values + [{
            "@type": "ListItem",
            "position": loop.index,
            "name": category.name,
            "url": prompts_url(category=category.slug, absolute=True)
        }] %}
    {% endfor %}
    {{- {
        "@context": "https://schema.org",
        "@type": "CollectionPage",
        "@id": meta_canonical_url,
        "url": meta_canonical_url,
        "name": title,
        "description": meta_desc,
        "mainEntity": {"@type": "ItemList", "numberOfItems": items.values|length,
                       "itemListElement": items.values}
    } | tojson | safe -}}
{% endblock %}

{% block breadcrumbs %}
    {% with breadcrumbs = {"Home": url("index"), "Categories": None} %}
        {% include "fragments/breadcrumbs.html" %}
    {% endwith %}
{% endblock %}

{% block content %}
    <h1>{{ title }}</h1>
    <p class="text-secondary">Browse prompts by purpose and workflow.</p>
    <div class="row row-cols-1 row-cols-lg-2 g-3" id="categories">
        {% for category in categories %}
            {% include "fragments/category.html" %}
        {% endfor %}
    </div>
{% endblock %}
