{% extends "layout.html" %}
{% set main_class = "" %}
{% set user_canonical_url = user_url(user, absolute=True) %}
{% set user_alternate_url = url("user", user_id=user.id, absolute=True) %}
{% set meta_canonical_url = user_canonical_url %}
{% set og_type = "profile" %}
{% set og_url = meta_canonical_url %}
{% set og_img_filename = user.image_filename %}
{% set val_map = {
    (PromptQueryType.LATEST): {"title": "Latest", "subtitle": "Recently added", "icon": "clock-fill"},
    (PromptQueryType.POPULAR): {"title": "Popular", "subtitle": "Most rated", "icon": "star-fill"},
    (PromptStatus.PUBLISHED): {"title": None, "subtitle": None},
    (PromptStatus.UNPUBLISHED): {"title": "Unpublished", "subtitle": "Unpublished"},
    (PromptStatus.REJECTED): {"title": "Rejected", "subtitle": "Rejected"}
} %}

{% set prompts_icon = val_map[PromptQueryType.LATEST]["icon"] %}
{% set prompts_title = ([val_map[prompt_query.type]["title"]] + [val_map[prompt_query.status]["title"]] + ["Prompts"]) | select | join(" ") | title %}
{% set meta_robots = "index, follow" %}
{% set prompts_subtitle = ([val_map[prompt_query.type]["subtitle"]] + [val_map[prompt_query.status]["subtitle"]] + ["Prompts"]) | select | join(" ") | title %}
{% set meta_title = user.name ~ " - " ~ site_name %}
{% set meta_desc = [
    user.name ~ (user.username and ' (@' ~ user.username ~ ')') ~ " blog on " ~ site_name,
    user.headline,
    html_to_text(user.about),
    site_desc
] | select | join('. ') | truncate(155, True, '...') %}
{% block meta_schema %}
    {% set same_as = [] %}
    {% if user.website %}{% set same_as = same_as + [user.website] %}{% endif %}
    {% if user.github_username %}{% set same_as = same_as + ["https://github.com/" ~ user.github_username] %}{% endif %}
    {% set user_schema = {
        "@context": "https://schema.org",
        "@type": "Person",
        "@id": meta_canonical_url,
        "identifier": user.username or user.id,
        "name": user.name,
        "url": meta_canonical_url,
        "description": [user.headline, html_to_text(user.about)] | select | join('. '),
        "sameAs": same_as,
        "mainEntityOfPage": meta_canonical_url,
        "breadcrumb": {
            "@type": "BreadcrumbList",
            "itemListElement": [
                {"@type": "ListItem", "position": 1, "name": "Home", "item": url("index", absolute=True)},
                {"@type": "ListItem", "position": 2, "name": "Users", "item": users_url(absolute=True)},
                {"@type": "ListItem", "position": 3, "name": user.name, "item": meta_canonical_url}
            ]
        }
    } %}
    {% if user.headline %}
        {% set user_schema = user_schema.update({"jobTitle": user.headline}) or user_schema %}
    {% endif %}
    {% if user.image_filename %}
        {% set user_schema = user_schema.update({"image": static_url(user.image_filename, absolute=True)}) or user_schema %}
    {% endif %}
    {{- user_schema | tojson | safe -}}
{% endblock %}

{% block breadcrumbs %}
    <div class="container">
        {% with breadcrumbs = {"Home": url("index"), "Users": users_url(), (user.name): None} %}
            {% include "fragments/breadcrumbs.html" %}
        {% endwith %}
    </div>
{% endblock %}

{% block content %}
    <section class="text-bg-light mb-4">
        <div class="container">
            <div class="p-3 p-lg-4">
                <div class="row align-items-center g-4">
                    <div class="col-12 col-sm-3 col-lg-2">
                        {% include "fragments/user-avatar.html" %}
                    </div>

                    <div class="col-12 col-sm-9 col-lg-10">
                        <h1 class="mb-0">{{ user.name }}</h1>

                        {% if user.username %}
                            <div class="mb-2">
                                @{{ user.username }}
                            </div>
                        {% endif %}

                        {% if user.headline %}
                            <h2 class="h6">{{ user.headline }}</h2>
                        {% endif %}

                        <div class="d-flex gap-3 flex-wrap mb-2">
                            {% if user.website %}
                                <div>
                                    <small class="bi bi-link-45deg"> Website:</small>
                                    <a class="text-decoration-none link-body-emphasis d-inline-block me-2"
                                       href="{{ user.website }}"
                                       target="_blank" rel="noopener noreferrer">
                                        {{ user.website | replace("https://", "", 1) | replace("http://", "", 1) }}
                                        <i class="bi bi-box-arrow-up-right"></i>
                                    </a>
                                </div>
                            {% endif %}

                            {% if user.github_username %}
                                <div>
                                    <small class="bi bi-github"> GitHub:</small>
                                    <a class="text-decoration-none link-body-emphasis d-inline-block me-2"
                                       href="https://github.com/{{ user.github_username }}" target="_blank"
                                       rel="noopener noreferrer">
                                        {{ user.github_username }}
                                        <i class="bi bi-box-arrow-up-right"></i>
                                    </a>
                                </div>
                            {% endif %}

                            {% if user.bmc_username and user.published_prompts_count %}
                                <div>
                                    <small class="bi bi-currency-dollar"> Buy Me a Coffee:</small>
                                    <a class="text-decoration-none link-body-emphasis d-inline-block me-2"
                                       href="https://buymeacoffee.com/{{ user.bmc_username }}" target="_blank"
                                       rel="noopener noreferrer">
                                        {{ user.bmc_username }}
                                        <i class="bi bi-box-arrow-up-right"></i>
                                    </a>
                                </div>
                            {% endif %}

                            {% if user.address %}
                                <div>
                                    <small class="bi bi-geo"> Location:</small>
                                    {{ user.address }}
                                </div>
                            {% endif %}
                        </div>

                        <div class="d-flex gap-3 flex-wrap mb-2">
                            <div>
                                <small class="bi bi-calendar2"> Joined:</small>
                                {{ (user.created_at / 1000) | unix_to_full_date() }}
                            </div>

                            <div class="d-flex align-items-center gap-1">
                                <span class="bi bi-heart"> {{ user.followers_count }}</span>
                                Followers
                            </div>

                            <div class="d-flex align-items-center gap-1">
                                <span class="bi bi-person-heart"> {{ user.following_count }}</span>
                                Following
                            </div>

                            <div class="d-flex align-items-center gap-1">
                                <span class="bi bi-pencil"> {{ user.published_prompts_count }}</span>
                                Prompts
                            </div>

                            <div class="d-flex align-items-center gap-1">
                                <span class="bi bi-chat"> {{ user.prompt_comments_count }}</span>
                                Comments
                            </div>
                        </div>

                        {% include "fragments/user-status.html" %}
                        {% include "fragments/user-impressions.html" %}

                        {% if cur_user and check_auth(cur_user, Permission.UPDATE_USER, user) %}
                            <div>
                                <a href="{{ url("edit-user", user_id=user.id) }}"
                                   class="btn btn-dark btn-sm bi bi-pencil">
                                    Edit profile
                                </a>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </section>

    <div class="container">
        {% if user.about %}
            <div class="mb-4">
                <h2 class="h5 mb-2 text-decoration-underline">About</h2>
                <div class="card-text">{{ user.about }}</div>
            </div>
        {% endif %}

        <div class="row mb-4">
            <div class="col col-12 col-lg-6 col-xl-8">
                {% include "fragments/user-activities.html" %}
            </div>

            <div class="col col-12 col-lg-6 col-xl-4 border-start">
                {% if user.published_prompts_count %}
                    {% with header="Enjoy this author’s work?" %}
                        {% include "fragments/bmc-donate.html" %}
                    {% endwith %}
                {% endif %}

                {% include "fragments/user-tag-subscriptions.html" %}
            </div>
        </div>

        <section>
            <h2 class="h5 mb-2 text-decoration-underline">{{ prompts_title }}</h2>

            {% if cur_user and check_auth(cur_user, Permission.READ_NON_PUBLISHED_PROMPT, user) %}
                <div class="d-flex justify-content-start align-items-center gap-1 mb-2">
                    <small class="text-secondary">Filter by status:</small>

                    <div class="btn-group btn-group-sm" role="group">
                        {% set is_published = prompt_query.status == PromptStatus.PUBLISHED %}
                        <a href="{{ user_url(user, **prompt_query.get_dict({"status": None if is_published else PromptStatus.PUBLISHED.value})) }}"
                           class="btn {% if is_published %}btn-success active{% else %}btn-light{% endif %}">
                            {{ PromptStatus.PUBLISHED | title }} ({{ user.published_prompts_count }})
                        </a>

                        {% set is_unpublished = prompt_query.status == PromptStatus.UNPUBLISHED %}
                        <a href="{{ user_url(user, **prompt_query.get_dict({"status": None if is_unpublished else PromptStatus.UNPUBLISHED.value})) }}"
                           class="btn {% if is_unpublished %}btn-warning active{% else %}btn-light{% endif %}">
                            {{ PromptStatus.UNPUBLISHED | title }} ({{ user.unpublished_prompts_count }})
                        </a>

                        {% set is_rejected = prompt_query.status == PromptStatus.REJECTED %}
                        <a href="{{ user_url(user, **prompt_query.get_dict({"status": None if is_rejected else PromptStatus.REJECTED.value})) }}"
                           class="btn {% if is_rejected %}btn-danger active{% else %}btn-light{% endif %}">
                            {{ PromptStatus.REJECTED | title }} ({{ user.rejected_prompts_count }})
                        </a>
                    </div>

                    {% if prompt_query.has_params() %}
                        <a href="{{ user_url(user) }}" class="btn btn-light btn-sm bi bi-x-lg"> Reset</a>
                    {% endif %}
                </div>
            {% endif %}

            {% if prompts %}
                <div id="prompts" class="row row-cols-1 row-cols-sm-2 row-cols-lg-4 g-2"
                     data-masonry='{"percentPosition": true }'>
                    {% with prompt_img_sizes={"1400px": "196px", "1200px": "166px", "992px": "96px", "768px": "156px", "default": "100vw"} %}
                        {% include "fragments/prompts.html" %}
                    {% endwith %}
                </div>

                {% with limit=prompt_query.limit,
                        offset=prompts[-1].offset,
                        url=url("user-prompts-fragment", user_id=user.id, absolute=True, **prompt_query.get_dict()),
                        container="#prompts" %}
                    {% include "fragments/load-more-button.html" %}
                {% endwith %}
            {% else %}
                <div>N/A</div>
            {% endif %}
        </section>
    </div>
{% endblock %}