PROJECT_NAME=prompts
WEB_LAMBDA_PORT=5100
API_LAMBDA_PORT=5101
DYNAMODB_PORT=5102

# STAGE ...
AWS_STACK=
AWS_PROJECT=
AWS_REGION=
AWS_OWNER=
APP_STAGE=
APP_ENV=
APP_DEBUG=
APP_SECRET=
DOMAIN_NAME=prompts.com
HOSTED_ZONE_ID=
NOTIFICATION_EMAIL=user@example.com
NOTIFICATION_PHONE=+15613145123
GOOGLE_ANALYTICS_ID=
WEB_BASE_URL=https://prompts.com
STATIC_BASE_URL=https://static.prompts.com
WEB_LAMBDA_CODE_TIMESTAMP=
API_LAMBDA_CODE_TIMESTAMP=
IMG_LAMBDA_CODE_TIMESTAMP=
TELEGRAM_BOT_TOKEN=
TELEGRAM_CHAT_ID=
TELEGRAM_LOG_LEVEL=INFO
PEXELS_API_KEY=
TAG_SETUP_USER_ID=
