PROJECT_NAME=prompts
WEB_LAMBDA_PORT=6080
API_LAMBDA_PORT=6001
DYNAMODB_PORT=9000
TEST_WEB_LAMBDA_PORT=6100
TEST_API_LAMBDA_PORT=6101

# STAGE ...
AWS_STACK=
AWS_PROJECT=
AWS_REGION=
AWS_OWNER=
APP_STAGE=
APP_ENV=
APP_DEBUG=
APP_SECRET=
API_CERTIFICATE_ARN=
DOMAIN_NAME=prompts.com
HOSTED_ZONE_ID=
CLOUDFRONT_CERTIFICATE_ARN=
NOTIFICATION_EMAIL=user@example.com
NOTIFICATION_PHONE=+15613145123
GOOGLE_ANALYTICS_ID=
CONTACT_TOPIC_ARN=
WEB_BASE_URL=https://prompts.com
WEB_LAMBDA_CODE_TIMESTAMP=
API_LAMBDA_CODE_TIMESTAMP=
IMG_LAMBDA_CODE_TIMESTAMP=
