<form class="d-flex flex-column gap-2" id="user-form" novalidate>
    <div class="form-group row align-items-center">
        <div class="col-2 px-lg-5">
            {% include "fragments/user-avatar.html" %}
        </div>
        <div class="col-10">
            <div class="row align-items-center g-3">
                <div class="{{ {"def": 6, "lg": 4, "xl": 2} | col_classes }}">
                    <div class="form-check text-decoration-underline">
                        Avatar action
                    </div>

                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="avatar_action" id="keep-avatar" value="keep"
                               checked>
                        <label class="form-check-label" for="keep-avatar">Keep current</label>
                    </div>

                    {% if user and user.image_filename %}
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="avatar_action" id="delete-avatar"
                                   value="delete">
                            <label class="form-check-label" for="delete-avatar">Delete current</label>
                        </div>
                    {% endif %}

                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="avatar_action" id="replace-avatar"
                               value="replace">
                        <label class="form-check-label" for="replace-avatar">Upload new</label>
                    </div>
                </div>

                <div class="{{ {"def": 6, "lg": 8, "xl": 10} | col_classes }}" id="upload-avatar" style="display:none">
                    <input type="file" class="form-control" id="avatar_file" name="avatar_file"
                           placeholder="Avatar" data-public-file>
                </div>
            </div>
        </div>
    </div>

    <div class="form-group row">
        <label for="name" class="col-form-label col-2 label-required">Name</label>
        <div class="col-10">
            <div class="input-group">
                <span class="input-group-text"><i class="bi bi-person-circle"></i></span>
                <input type="text" class="form-control" id="name" name="name" placeholder="Name"
                       value="{{ user.name if user and user.name else "" }}">
            </div>
        </div>
    </div>

    <div class="form-group row">
        <label for="username" class="col-form-label col-2">Username</label>
        <div class="col-10">
            <div class="input-group">
                <span class="input-group-text">{{ web_base_url.replace('https://', '').replace('http://', '') }}/</span>
                <input type="text" class="form-control" id="username" name="username" placeholder="your-username"
                       value="{{ user.username if user and user.username else "" }}">
            </div>
        </div>
    </div>

    <div class="form-group row">
        <label for="github_username" class="col-form-label col-2">GitHub</label>
        <div class="col-10">
            <div class="input-group">
                <span class="input-group-text">github.com/</span>
                <input type="text" class="form-control" id="github_username" name="github_username"
                       placeholder="your-github-username"
                       value="{{ user.github_username if user and user.github_username else "" }}">
                <span class="input-group-text"><i class="bi bi-box-arrow-up-right"></i></span>
            </div>
        </div>
    </div>

    <div class="form-group row">
        <label for="bmc_username" class="col-form-label col-2">
            <i class="bi bi-currency-dollar"></i> Buy Me a Coffee
        </label>
        <div class="col-10">
            <div class="input-group">
                <span class="input-group-text">buymeacoffee.com/</span>
                <input type="text"
                       class="form-control"
                       id="bmc_username"
                       name="bmc_username"
                       placeholder="your-bmc-username"
                       value="{{ user.bmc_username if user and user.bmc_username else '' }}">
                <span class="input-group-text"><i class="bi bi-box-arrow-up-right"></i></span>
            </div>
            <div class="form-text">
                Don’t have an account?
                <a class="link-body-emphasis" href="https://www.buymeacoffee.com/invite/oleksandr.andrushchenko"
                   target="_blank" rel="noopener noreferrer">Create one here</a>
            </div>
        </div>
    </div>

    <div class="form-group row">
        <label for="headline" class="col-form-label col-2">Headline</label>
        <div class="col-10">
            <input type="text" class="form-control" id="headline" name="headline" placeholder="Headline"
                   value="{{ user.headline if user and user.headline else "" }}">
        </div>
    </div>

    <div class="form-group row">
        <label for="about" class="col-form-label col-2">About</label>
        <div class="col-10">
            <textarea class="form-control" id="about" name="about" placeholder="About"
                      rows="6">{{ user.about if user and user.about else "" }}</textarea>
        </div>
    </div>

    <div class="form-group row">
        <label for="website" class="col-form-label col-2">Website</label>
        <div class="col-10">
            <div class="input-group">
                <input type="text" class="form-control" id="website" name="website" placeholder="Website"
                       value="{{ user.website if user and user.website else "" }}">
                <span class="input-group-text"><i class="bi bi-box-arrow-up-right"></i></span>
            </div>
        </div>
    </div>

    <div class="form-group row">
        <label for="address" class="col-form-label col-2">Location</label>
        <div class="col-10">
            <div class="input-group">
                <span class="input-group-text"><i class="bi bi-geo"></i></span>
                <input type="text" class="form-control" id="address" name="address" placeholder="Address"
                       value="{{ user.address if user and user.address else "" }}">
            </div>
        </div>
    </div>

    <div class="form-group row">
        <div class="col-10 offset-2">
            <button type="submit" class="btn btn-light">
                <i class="bi {% if user %}bi-arrow-clockwise{% else %}bi-plus-lg{% endif %}"></i>
                {% if user %}Update{% else %}Create{% endif %} profile
            </button>
        </div>
    </div>
</form>

<script>
  document.addEventListener("DOMContentLoaded", () => {
    const uploadDiv = document.getElementById("upload-avatar")
    const avatarRadios = document.querySelectorAll("input[name=\"avatar_action\"]")

    // Initially hide the upload div
    uploadDiv.style.display = "none"

    avatarRadios.forEach(radio => {
      radio.addEventListener("change", () => {
        if (radio.value === "replace" && radio.checked) {
          uploadDiv.style.display = "block"
        } else if (radio.checked) {
          uploadDiv.style.display = "none"
        }
      })
    })

    handleFormSubmit("#user-form", {{ (url('update-user', user_id=user.id, absolute=True) if user else '') | tojson }}, {
      method: "{{ 'PATCH' if user else 'POST' }}",
      rules: {
        avatar_file: [
          {
            rule: "required",
            errorMessage: "Avatar is required"
          },
          {
            rule: "files",
            value: {
              files: {
                extensions: ["jpeg", "jpg", "png"],
                maxSize: 10000000,
                minSize: 1000,
                types: ["image/jpeg", "image/jpg", "image/png"]
              }
            }
          }
        ],
        name: [
          {rule: "required"},
          {rule: "minLength", value: 1},
          {rule: "maxLength", value: 100}
        ],
        username: [
          {rule: "minLength", value: 3},
          {rule: "maxLength", value: 30},
          {
            rule: "customRegexp",
            value: /^[a-z0-9-]+$/,
            errorMessage: "Username must contain only lowercase letters, numbers, and hyphens"
          },
          {
            rule: "custom",
            validator: (value) => !value.startsWith("-") && !value.endsWith("-"),
            errorMessage: "Username cannot start or end with a hyphen"
          },
          {
            rule: "custom",
            validator: (value) => !value.includes("--"),
            errorMessage: "Username cannot contain consecutive hyphens"
          },
          {
            rule: "custom",
            validator: (value) => {
              const _username_blacklist = [
                "api", "prompts", "prompts-fragment", "contacts", "tags", "users", "users-fragment", "login",
                "login-callback", "logout", "logout-callback", "me", "privacy-policy", "rules",
                "terms-of-service", "earn-with-us", "popular", "utils"
              ]
              return !_username_blacklist.includes(value)
            },
            errorMessage: "This word can't be a username"
          }
        ],
        github_username: [
          {rule: "minLength", value: 1},
          {rule: "maxLength", value: 39},
          {
            rule: "customRegexp",
            value: /^[a-zA-Z0-9-]+$/,
            errorMessage: "GitHub must contain only letters, numbers, and hyphens"
          },
          {
            rule: "custom",
            validator: (value) => !value.startsWith("-") && !value.endsWith("-"),
            errorMessage: "GitHub username cannot start or end with a hyphen"
          },
          {
            rule: "custom",
            validator: (value) => !value.includes("--"),
            errorMessage: "GitHub username cannot contain consecutive hyphens"
          }
        ],
        bmc_username: [
          {rule: "minLength", value: 1},
          {rule: "maxLength", value: 50},
          {
            rule: "customRegexp",
            value: /^[a-zA-Z0-9.]+$/,
            errorMessage: "BMC username must contain only letters, numbers, and dots"
          },
          {
            rule: "custom",
            validator: (value) => !value.startsWith(".") && !value.endsWith("."),
            errorMessage: "BMC username cannot start or end with a dot"
          },
          {
            rule: "custom",
            validator: (value) => !value.includes(".."),
            errorMessage: "BMC username cannot contain consecutive dots"
          }
        ],
        headline: [
          {rule: "minLength", value: 1},
          {rule: "maxLength", value: 150}
        ],
        about: [
          {rule: "minLength", value: 1},
          {rule: "maxLength", value: 2000}
        ],
        website: [
          {
            rule: "customRegexp",
            value: /^(https?:\/\/)?([\da-z\.-]+)\.([a-z\.]{2,6})([\/\w \.-]*)*\/?$/,
            errorMessage: "Website must be a valid URL"
          }
        ],
        address: [
          {rule: "minLength", value: 1},
          {rule: "maxLength", value: 255}
        ]
      },
      onSuccess: (res) => {
        if (res) window.location.href = res
      },
      successMessage: "Profile updated!"
    })

  })
</script>
