{% if filename %}
    {% set figure = figure | default(False) %}
    {% set figure_class = figure_class | default("figure") %}
    {% set img_class = img_class | default("img-fluid figure-img rounded") %}
    {% set img_style = img_style | default(None) %}
    {% set width = width | default(None) %}
    {% set height = height | default(None) %}
    {% set loading = loading | default("lazy") %}
    {% set decoding = decoding | default("async") %}
    {% set img_sizes = img_sizes | default({"default": "100vw"}) %}
    {% set img_sizes_value = namespace(parts=[]) %}
    {% for breakpoint, size in img_sizes.items() if breakpoint != "default" %}
        {% set img_sizes_value.parts = img_sizes_value.parts + ["(min-width: " ~ breakpoint ~ ") " ~ size] %}
    {% endfor %}
    {% if img_sizes.default is defined %}
        {% set img_sizes_value.parts = img_sizes_value.parts + [img_sizes.default] %}
    {% endif %}
    {% set img_sizes = img_sizes_value.parts | join(", ") %}

    {% if (not width or not height) and '_' in filename and 'x' in filename %}
        {% set size_part = filename.rsplit('_', 1)[1].split('.', 1)[0] %}
        {% if 'x' in size_part %}
            {% set parts = size_part.split('x') %}
            {% if parts|length == 2 %}
                {% set width = width or parts[0] %}
                {% set height = height or parts[1] %}
            {% endif %}
        {% endif %}
    {% endif %}

    {% set image_url = filename if filename.startswith('http://') or filename.startswith('https://') else static_url(filename) %}
    {% set responsive = responsive | default(True) and not (filename.startswith('http://') or filename.startswith('https://')) %}
    {% set source_width = width | int if width else None %}
    {% set source_height = height | int if height else None %}
    {% if not source_width or not source_height %}
        {% set source_size = filename.rsplit('_', 1)[1].split('.', 1)[0] if '_' in filename else '' %}
        {% if 'x' in source_size %}
            {% set source_width = source_width or source_size.split('x')[0] | int %}
            {% set source_height = source_height or source_size.split('x')[1] | int %}
        {% endif %}
    {% endif %}
    {% set webp_srcset = namespace(value=[]) %}
    {% if responsive and source_width and source_height and '_' in filename and '.' in filename and filename.rsplit('.', 1)[1] in ['png', 'jpg', 'jpeg'] %}
        {% set source_base = filename.rsplit('_', 1)[0] %}
        {% for candidate_width in [160, 320, 640, 1024] %}
            {% if candidate_width < source_width %}
                {% set candidate_height = (candidate_width * source_height / source_width) | round(0) | int %}
                {% set webp_filename = source_base ~ '_' ~ candidate_width ~ 'x' ~ candidate_height ~ '.webp' %}
                {% set webp_srcset.value = webp_srcset.value + [static_url(webp_filename) ~ ' ' ~ candidate_width ~ 'w'] %}
            {% endif %}
        {% endfor %}
        {% set original_webp = source_base ~ '_' ~ source_width ~ 'x' ~ source_height ~ '.webp' %}
        {% set webp_srcset.value = webp_srcset.value + [static_url(original_webp) ~ ' ' ~ source_width ~ 'w'] %}
    {% endif %}

    {% macro responsive_image() %}
        <picture>
            {% if webp_srcset.value %}
                <source type="image/webp" srcset="{{ webp_srcset.value | join(', ') }}"
                        sizes="{{ img_sizes }}">{% endif %}
            <img src="{{ image_url }}"
                 alt="{{ alt or '' }}" class="{{ img_class }}"{% if webp_srcset.value %}
                 onerror="this.onerror=null; var source=this.parentElement.querySelector('source[type=\'image/webp\']'); if(source) source.remove(); this.removeAttribute('srcset'); this.removeAttribute('sizes'); this.src='{{ image_url }}';"{% endif %}
                    {% if img_style %}
                 style="{{ img_style }}"{% endif %}{% if width %} width="{{ width }}"{% endif %}{% if height %}
                 height="{{ height }}"{% endif %}{% if loading %} loading="{{ loading }}"{% endif %}{% if decoding %}
                 decoding="{{ decoding }}"{% endif %}>
        </picture>
    {% endmacro %}

    {% if figure %}
        <figure class="{{ figure_class }}">
            {{ responsive_image() }}

            <figcaption class="figure-caption">
                {{ alt or '' }}
            </figcaption>
        </figure>
    {% else %}
        {{ responsive_image() }}
    {% endif %}
{% endif %}
