{% set auto_click = auto_click | default(True) %}

{% if first_page_url %}
    <a class="btn btn-light btn-sm" href="{{ first_page_url }}">Back to first page</a>
{% endif %}
{% if offset %}
    {% set element = "a" if next_page_url else "button" %}
    <{{ element }} class="btn btn-light btn-sm btn-load-more"
            {% if next_page_url %}href="{{ next_page_url }}" rel="next"{% else %}type="button"{% endif %}
            data-limit="{{ limit }}"
            data-offset="{{ offset }}"
            data-url="{{ url }}"
            data-container="{{ container }}"
            {% if auto_click %}data-auto-click{% endif %}
    >Load more
    </{{ element }}>
{% endif %}
