<div class="card-body d-flex flex-column gap-{{ vert_gap }}">
    <a class="link-body-emphasis text-decoration-none d-flex flex-column gap-{{ vert_gap }}"
       href="{{ prompt_url(prompt) }}">
        <h{{ h_tag_size }}
                class="h{{ h_display_size | default(3) }} mb-0">{{ prompt.title }}</h{{ h_tag_size }}>

        {% if preview %}
            <div class="text-secondary two-line-ellipsis">
                {{ prompt.content | truncate(180, True, "...") }}
            </div>
        {% endif %}
    </a>

    <div>
        {% include "fragments/prompt-rating.html" %}
        <br>

        {% if prompt_user %}
            <small class="text-secondary bi bi-person" title="Author">
                <a href="{{ user_url(prompt_user) }}" class="link-secondary">{{ prompt_user.name }}</a>
            </small>
        {% endif %}

        <small class="text-secondary bi bi-calendar2" title="Created at">
            {{ (prompt.created_at / 1000) | unix_to_full_date }}
        </small>

        {% if prompt.status == PromptStatus.REJECTED %}
            <span class="badge text-bg-danger fs-6" title="{{ prompt.comment }}">Rejected</span>
        {% elif prompt.status == PromptStatus.UNPUBLISHED %}
            <span class="badge text-bg-warning fs-6" title="Pending">Unpublished</span>
        {% endif %}

        {% if prompt.likes_count or prompt.dislikes_count %}
            <small class="text-secondary">
                {% if prompt.likes_count %}
                    <span class="bi bi-hand-thumbs-up" title="Likes"> {{ prompt.likes_count }}</span>
                {% endif %}

                {% if prompt.dislikes_count %}
                    <span class="bi bi-hand-thumbs-down"
                          title="Dislikes"> {{ prompt.dislikes_count }}</span>
                {% endif %}
            </small>
        {% endif %}

        {% if prompt.tags %}
            <div class="small text-secondary">
                <i class="bi bi-tags"></i>
                {% for tag in prompt.tags %}
                    <a href="{{ prompts_url(tags=[tag]) }}"
                       class="link-secondary text-decoration-none"> {{ tag }}</a>
                {% endfor %}
            </div>
        {% endif %}
    </div>
</div>