{% set image = prompt.image_filenames[0] if prompt.image_filenames else None %}
{% set horizontal = horizontal | default(False) %}
{% set preview = preview | default(True) %}
{% set vert_gap = vert_gap | default(1) %}
{% set h_tag_size = h_tag_size | default(3) %}
{% set h_display_size = h_display_size | default(4) %}
{% set image_column_size = image_column_size | default({"def":12,"md":3}) if image else 0 %}
{% set image_order_size = image_order_size | default({"def":12}) if image else 0 %}
{% set prompt_user = prompt.get_user() %}
{% set prompt_img_sizes = prompt_img_sizes | default({"768px": "25vw", "default": "100vw"}) %}

<div class="prompt col"{% if prompt.offset %} data-offset="{{ prompt.offset }}"{% endif %}>
    <div class="card text-bg-light shadow-sm overflow-hidden">
        {% if image and horizontal %}
            <div class="row g-0">{% endif %}
        {% if image %}
            <div class="{% if horizontal %}{{ image_column_size | col_classes }} d-flex{% endif %}">
                {% include "fragments/prompt-link-image.html" %}
            </div>
        {% endif %}

        <div class="{% if image and horizontal %}{{ image_column_size | col_classes(inverse=True) }}{% endif %}">
            {% include "fragments/prompt-body.html" %}
        </div>
        {% if image and horizontal %}</div>{% endif %}
    </div>
</div>
