<form class="d-flex flex-column gap-2" id="tag-form" novalidate>
    <div class="form-group row align-items-center">
        <div class="col-2">
            {% if tag and tag.image_filename %}
                <img src="{{ static_url(tag.image_filename) }}"
                     alt="{{ tag.name }}" class="w-100 h-100 object-fit-cover rounded">
            {% else %}
                <div class="d-flex align-items-center justify-content-center bg-light text-muted"
                     style="font-weight:600; font-size:1.25rem;">
                    {{ tag.name|upper }}
                </div>
            {% endif %}
        </div>
        <div class="col-10">
            <div class="row align-items-center g-3">
                <div class="{{ {"def": 6, "lg": 4, "xl": 2} | col_classes }}">
                    <div class="form-check text-decoration-underline">
                        Cover image action
                    </div>

                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="image_action" id="keep-image" value="keep"
                               checked>
                        <label class="form-check-label" for="keep-image">Keep current</label>
                    </div>

                    {% if tag and tag.image_filename %}
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="image_action" id="delete-image"
                                   value="delete">
                            <label class="form-check-label" for="delete-image">Delete current</label>
                        </div>
                    {% endif %}

                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="image_action" id="replace-image"
                               value="replace">
                        <label class="form-check-label" for="replace-image">Upload new</label>
                    </div>
                </div>

                <div class="{{ {"def": 6, "lg": 8, "xl": 10} | col_classes }}" id="upload-image" style="display:none">
                    <input type="file" class="form-control" id="image_file" name="image_file"
                           placeholder="Cover image" data-public-file>
                </div>
            </div>
        </div>
    </div>

    <div class="form-group row">
        <label for="name" class="col-form-label col-2 label-required">Name</label>
        <div class="col-10">
            <input type="text" class="form-control" id="name" name="name" placeholder="Name"
                   value="{{ tag.name if tag and tag.name else "" }}">
        </div>
    </div>

    <div class="form-group row">
        <div class="col-10 offset-2">
            <button type="submit" class="btn btn-light">
                <i class="bi {% if tag %}bi-arrow-clockwise{% else %}bi-plus-lg{% endif %}"></i>
                {% if tag %}Update{% else %}Create{% endif %} tag
            </button>
        </div>
    </div>
</form>

<script>
  document.addEventListener("DOMContentLoaded", () => {
    const uploadDiv = document.getElementById("upload-image")
    const imageRadios = document.querySelectorAll("input[name=\"image_action\"]")

    // Initially hide the upload div
    uploadDiv.style.display = "none"

    imageRadios.forEach(radio => {
      radio.addEventListener("change", () => {
        if (radio.value === "replace" && radio.checked) {
          uploadDiv.style.display = "block"
        } else if (radio.checked) {
          uploadDiv.style.display = "none"
        }
      })
    })

    handleFormSubmit("#tag-form", {{ (url('update-tag', slug=tag.slug, absolute=True) if tag else '') | tojson }}, {
      method: "{{ 'PATCH' if tag else 'POST' }}",
      rules: {
        image_file: [
          {
            rule: "required",
            errorMessage: "Cover image is required"
          },
          {
            rule: "files",
            value: {
              files: {
                extensions: ["jpeg", "jpg", "png"],
                maxSize: 10000000,
                minSize: 1000,
                types: ["image/jpeg", "image/jpg", "image/png"]
              }
            }
          }
        ],
        name: [
          {rule: "required"},
          {rule: "minLength", value: 2},
          {rule: "maxLength", value: 40}
        ],
      },
      onSuccess: (res) => {
        if (res) window.location.href = res
      },
      successMessage: "Tag updated!"
    })
  })
</script>
