{% set image = tag.image_filename %}
{% set image_style = image_style | default("height: auto;") %}
{% set tag_img_sizes = tag_img_sizes | default({"768px": "25vw", "default": "100vw"}) %}
{% set h_tag_size = h_tag_size | default(3) %}
{% set h_display_size = h_display_size | default(5) %}

<div class="tag col"{% if tag.offset %} data-offset="{{ tag.offset }}"{% endif %}>
    <a href="{{ prompts_url(tags=[tag.slug]) }}"
       class="card text-bg-light shadow-sm overflow-hidden text-decoration-none link-body-emphasis h-100">
        {% if image %}
            {% with filename=image,
                alt=tag.name,
                img_class="card-img-top w-100 h-auto",
                img_style=image_style,
                img_sizes=tag_img_sizes,
                figure=False %}
                {% include "fragments/image.html" %}
            {% endwith %}
        {% endif %}
        <div class="card-body">
            <h{{ h_tag_size }} class="h{{ h_display_size }} mb-0 card-title">
                {{ tag.name }} &mdash; {{ tag.prompts_count }}
            </h{{ h_tag_size }}>
        </div>
    </a>
</div>
