{% if cur_user and check_auth(cur_user, Permission.UPDATE_USER_STATUS, user) and cur_user.id != user.id %}
    <div class="input-group">
        <!-- Activate User -->
        {% set is_activated = user.status == UserStatus.ACTIVE %}
        <button type="button"
                class="btn {% if is_activated %}btn-success active{% else %}btn-light btn-user-activate{% endif %}"
                data-user-id="{{ user.id }}"
                data-status="{{ UserStatus.ACTIVE.value }}"
                {% if not is_activated %}
                title="Activate this user"
                {% endif %}>
            {% if is_activated %}<i class="bi bi-check2-all"></i>{% endif %} {% if is_activated %}Activated{% else %}
            Activate{% endif %}
        </button>

        <!-- Ban User -->
        {% set is_banned = user.status == UserStatus.BANNED %}
        <input type="text"
               class="form-control"
               name="comment"
               id="comment"
               placeholder="Ban reason..."
               value="{{ user.comment if user and user.comment else '' }}"
               {% if is_banned %}disabled{% endif %}>
        <button type="button"
                class="btn {% if is_banned %}btn-danger active{% else %}btn-light btn-user-ban{% endif %}"
                data-user-id="{{ user.id }}"
                data-status="{{ UserStatus.BANNED.value }}"
                {% if not is_banned %}
                title="Ban this prompt"
                {% endif %}>
            {% if is_banned %}<i class="bi bi-x-lg"></i>{% endif %} {% if is_banned %}Banned{% else %}Ban{% endif %}
        </button>
    </div>
{% endif %}