{% set name = user.name %}

<div class="avatar-wrapper" style="{{ avatar_wrapper_style | default("width:100%; aspect-ratio:1 / 1;") }}">
    {% if user.image_filename %}
        {% with filename=user.image_filename,
            alt=name,
            img_class=avatar_img_class | default("rounded-circle img-fluid d-block"),
            img_style="width:100%; height:100%; object-fit:cover;",
            img_sizes=user_avatar_img_sizes | default({"default": "120px"}) %}
            {% include "fragments/image.html" %}
        {% endwith %}
    {% else %}
        {% set first_letter = name[0].upper() %}
        {% set color = default_avatar_colors[first_letter] %}
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" style="width:100%; height:100%;">
            <!-- Circle background -->
            <circle cx="50" cy="50" r="50" fill="{{ color }}"/>
            <!-- First letter -->
            <text x="50" y="55"
                  class="avatar-letter"
                  text-anchor="middle"
                  font-size="50"
                  fill="#ffffff"
                  dy=".3em">{{ first_letter }}</text>
        </svg>
    {% endif %}
</div>
